<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="queries.Scenegraph" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:queries.Scenegraph" id="queries.Scenegraph">
      <query-specification fqn="queries.VisibleDistance"/>
      <query-specification fqn="queries.RemoveEdge"/>
    </group>
  </extension>
</plugin>
